.is-side #wptranslation-meta-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.is-advanced #wptranslation-meta-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#wptranslation-meta-box a.bulk-mode {
    text-decoration-line: none;
    display: inline-flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #ee4237;
    cursor: pointer;
}

#wptranslation-meta-box a svg {
    margin-right: 0.5rem;
    margin-left: -0.25rem;
    width: 1.25rem;
    height: 1.25rem;
}

#wptranslation-meta-box a.bulk-mode:hover {
    background-color: #f87971;
}

#wptranslation-meta-box a.settings {
    margin-top: 0.5rem;
}
