.wptranslation-app .fade-enter-active,
.wptranslation-app .fade-leave-active {
    transition: opacity 0.333s ease;
}

.wptranslation-app .fade-75-enter-active,
.wptranslation-app .fade-75-leave-active {
    transition: opacity 0.075s ease;
}

.wptranslation-app .fade-100-enter-active,
.wptranslation-app .fade-100-leave-active {
    transition: opacity 0.1s ease;
}

.wptranslation-app .fade-500-enter-active,
.wptranslation-app .fade-500-leave-active {
    transition: opacity 0.5s ease;
}

.wptranslation-app .fade-enter-from,
.wptranslation-app .fade-leave-to,
.wptranslation-app .fade-75-enter-from,
.wptranslation-app .fade-75-leave-to,
.wptranslation-app .fade-100-enter-from,
.wptranslation-app .fade-100-leave-to,
.wptranslation-app .fade-500-enter-from,
.wptranslation-app .fade-500-leave-to {
    opacity: 0;
}
