/**
 * Remove wordpress content margin left
 */
.wptranslation-app {
    margin-left: -20px;
}

.wptranslation-app .min-h-wpcontent {
    min-height: calc(100vh - 32px);
}

.wptranslation-app .top-wpcontent {
    top: 32px;
}

.wptranslation-app .left-wpcontent {
    left: 36px;
}

@media screen and (max-width: 782px) {
    .wptranslation-app {
        margin-left: -10px;
        min-height: 800px;
    }

    .wp-responsive-open .wptranslation-app {
        margin-left: calc(190px - 16em - 10px);
    }

    .wptranslation-app .min-h-wpcontent {
        min-height: calc(100vh - 46px);
    }

    .wptranslation-app .top-wpcontent {
        top: 46px;
    }

    .wptranslation-app .left-wpcontent {
        left: 0px;
    }
}

/**
 * Remove wordpress default style
 */
.wptranslation-app input[type="checkbox"]:checked::before {
    content: "";
}

.wptranslation-app input[type="radio"]::before {
    display: none;
}

.wptranslation-app dd,
.wptranslation-app li {
    margin-bottom: 0px;
}

.wptranslation-app a:focus {
    box-shadow: inherit;
    outline: inherit;
}
.wptranslation-app select {
    max-width: unset;
}
.wptranslation-app select:focus,
.wptranslation-app select:hover {
    color: unset;
}

.wptranslation-app input[type="checkbox"]:focus {
    border-color: unset;
}
